

<div class="container">
  <div class="row">
   <div class="col-lg-12">
    <div class ="mx-auto">
    <h2 class ="text-center">Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="text-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="text-center">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="text-center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="text-center">
    <%= f.submit "Log in", class:"btn-outline-secondary" %>
  </div>

  <div class="text-center padding-top">
    <p>or</p>
  </div>

  <div class="text-center">
    <%= link_to "Sign up now!", new_user_registration_path, class:"btn btn-outline-info" %>
<% end %>

</div>