    <head><link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" ></head>

<div class="container">
  <div class="row">
   <div class="col-lg-12 text-center">



    <div class ="mx-auto">
    <h2 class ="text-center">User Login</h2><%= alert %>
    <span class="text-center"></span>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="text-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="text-center">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="text-center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="text-center">
    <%= f.submit "Log in", class:"btn-outline-secondary" %>
  </div>

  <div class="text-center padding-top">
    <p>or</p>
  </div>

  <div class="text-center">
    <%= link_to "Sign up now!", new_user_registration_path, class:"btn btn-outline-info" %>
<% end %>
  </div>
  <br>
  <div class ="facebook text-center">
    Sign up with<br>
    <%= link_to "Facebook", user_facebook_omniauth_authorize_path ,class:"btn btn-info" %>
  </div>
</div>
</div>
</div>