<h1>オールタイムランキング</h1>


あなたのランキングは
<%= @users.count %>人中
<%= @my_rank  %>位
です

<% @users.each.with_index(1) do |user,rank| %>
    	<li>BA獲得数<%= rank  %>位
    	<%= user.best_answer_count %>件
		<%= link_to user_path(user) do  %>
  	  <%= user.name  %></li>
 		<% end %>


<% end %>