<div class ="container">
	<div class = "row">
		<div class ="col-xs-5">
            <%= attachment_image_tag @user, :profile_image, :fill, 200,200, format:"", fallback:"noimage.jpg", size:'350x350' %>
           <br>
           <br>
          <table>
          	<td><%= render 'layouts/follow_btn', user: @user  %></td>
          	<td><% if @user == current_user %>
         <%= link_to "登録情報編集", edit_user_path(@user), class: "btn"  %><% end %></td>
          </table>
         </div>


   <div class ="col-xs-7">
     <table class ="table">
       <tbody>
         <tr>
            <td>ユーザーネーム<%= @user.name %></td>
         </tr>
         <tr>
            <td>自己紹介<%= @user.introduction %><br></td>
         </tr>
         <tr>
            <td>フォロー人数<%= link_to user_follow_path(@user) do  %>
               <%= @user.followings.count %>人</td>
         </tr>
               <% end %>

         <tr>
            <td>フォロワー人数<%= link_to user_follower_path(@user) do  %><%= @user.followed.count %>人</td>
         </tr>
                           <% end %>
         <tr>
         	<td>総ベストアンサー数<%= @user.best_answer_count%>件</td>
         </tr>
         <tr>
         	<td></td>
         </tr>





<tr>
</div>
</tbody>
</table>

</div>
<div class ="row">
<div class ="col-xs-12">
<h1>自分の投稿一覧</h1>
<% @user.posts.each do |post| %>

<li>
	<%= link_to post_path(post) do %>
		<%= attachment_image_tag post, :post_image, :fill, 100,100, format:"", fallback:"noimage.jpg", size:'100x100' %>
	<% end %>
		<%= post.title %>
		<%= post.body %>
ベストアンサーカラムがtrueの場合、ベストアンサー認定済表示出す！
</li>

<% end %>
</div>
