<div class ="container">
	<div class = "row">
		<div class ="col-lg-5 offset-md-2">
               <%= attachment_image_tag @user, :profile_image, :fill, 500,500, format:"", fallback:"noimage.jpg", size:'400x400',class:"rounded-circle" %>
        </div>
           <div class ="col-lg-4">
              <table class ="table table-borderless">
                 <tbody>
                     <tr>
                        <td><%= @user.name %>
                           <% if @user == current_user %>
                              <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-sm btn-secondary"  %>
                            <% end %>
                        </td>
                     </tr>
                      <tr>
                         <td><%= @user.introduction %><br></td>
                      </tr>
                       <tr>
                          <td>Posts <%= @user.posts.count  %>件</td>
                       </tr>
                       <tr>
                          <td>Best answer<%= @user.best_answer_count%>件</td>
                       </tr>
                       <tr>
                       	<td><%= link_to "User情報を編集する", admins_users_edit_path(@user), class:"btn btn-primary" %></td>
                       </tr>
                       <tr>
                       	<td>
                       		<% if @user.deleted? %>
                       		  <%= link_to "ユーザーを復元する", admins_users_restore_confirm_path(@user), class:"btn btn-secondary" %>
                       		<% end %>
                       	</td>
                       </tr>

               </tbody>
            </table>
         </div>
         <div class ="col-lg-12"><%= link_to "back", admins_users_path, class:"btn btn-primary btn-lg" %></div>
    </div>
</div>