編集ページ


<%= form_for(@post) do |f| %>

	<h4>タイトル</h4>
    <%= f.text_field :title%>

    <h4>本文</h4>
    <%= f.text_area :body %>

    <h4>写真</h4>
    <%= attachment_image_tag @post, :post_image, placeholder:"選択されていません" %>
 <%= f.attachment_field :post_image %>

    <%= f.submit '投稿を更新する！' %>
 <% end %>