
<div class ="container">
    <div class ="row">
      <%= render 'layouts/errors', obj: @post %>
       <div class ="col-lg-6 offset-lg-3">

         <h1>New post</h1>
           <table>
               <%= form_for(@post) do |f| %>
               <tr>
               <h4>Title</h4>
                     <%= f.text_field :title, class:"form-control" %>
               </tr>
               <tr>
                <h4>Introduction</h4>
                     <%= f.text_area :body, class:"form-control"%>
                <br>
                <%= attachment_image_tag @post, :post_image, placeholder:"画像を選択してください" %>
            </tr>
            <tr>
                <%= f.attachment_field :post_image %>
            </tr>
            <tr>
                <br>
                <br>
                <%= f.submit 'Post',class:"btn btn-lg btn-secondary"%>
            </tr>
        </table>



                <% end %>
            </div>
        </div>
    </div>