


  <table class="table  table-borderless">
      <thead>
          <th><%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "noimage.jpg", size: '60x60', class:"rounded-circle"%></th>
          <th><% if post_comment.dispose == true %>
                  <td><h4>思い切って捨てよう！</h4></td>
              <% else %>
                  <td><h4>捨てないで！</h4><td class= "text-center">by　<%= post_comment.user.name %></td></td>
              <% end %>
              <% if post_comment.post.user == current_user %>
           <td><%= link_to "Bestanswer", post_post_comment_post_best_answer_path(post_comment.post_id,post_comment.id),class:"btn btn-info" %></td>
          <% end %>
        <% if post_comment.user == current_user %>
            <td><%= link_to "Delete", post_post_comment_path(post_comment.post_id,post_comment.id), method: :delete, remote: true ,class:"btn btn-sm btn-danger" %></td>
        <% end %>
      </thead>
  </table>
  <table class="table table-borderless">
    <tr>
    </tr>
    <tr>
        <td><%= post_comment.body %></td>
    </tr>
    <tr>
        <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
  </table>
