<% if post.posted?(current_user) %><br>
これ以上投稿できません。以前の投稿を削除して再度投稿してください。
          <% elsif  post.user != current_user %>
              <%= form_with model: [post, post_comment] do |f| %>
                     <%= f.radio_button :dispose,true, checked:true %>思い切って捨てよう！<br>
                    <%= f.radio_button :dispose,false %>捨てないで！<br>
                <h1>その理由は？</h1>
                    <%= f.text_area :body, rows:'5', class: "form-control",placeholder: "コメントを入力" %>
                     <%= f.submit "投稿する" %>
               <% end %>
          <% else %>
                <br><h1>投稿者本人はコメントできません。BAを選びましょう！</h1>
          <% end %>