<!DOCTYPE html>
<html>
  <head>
    <title>Declutter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>

<nav class ="nav navbar navbar-inverse">
    <div class="container-fluid">
<ul class="nav navbar-nav navbar-right">

<% if user_signed_in? %>

<li><%= form_tag(search_result_path,:method => 'get',class:'navbar-form') do %>
          <%= text_field_tag :search, nil, :placeholder => 'ワードで検索！' %>
          <%= hidden_field_tag :target, "post"  %>
          <%= submit_tag 'Search', :name => nil %>
    <% end %>




<li><%= link_to "マイページ", user_path(current_user)  %></li>
<li><%= link_to "タイムライン", posts_path  %></li>
<li><%= link_to "ユーザーランキング", users_path  %></li>
<li><%= link_to "declutterとは", tops_about_path  %></li>
<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete  %></li>
<li><%= link_to "通知", notifications_path(current_user)  %></li>

<% elsif admin_signed_in? %>
<li><%= form_tag(admins_search_result_path,:method => 'get') do %>
  <%= select_tag :target, options_for_select([["ユーザー","user"], ["投稿","post"]],:selected=>"user") %>
  <%= text_field_tag :search, nil %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<li><%= link_to "管理者ログイン", new_admin_session_path  %></li>
<li><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete  %></li>
<li><%= link_to "ログイン", new_user_session_path  %></li>
<li><%= link_to "declutterとは", tops_about_path  %></li>

<% end %>

</header>


  <body>

    <%= yield %>
    <%= notice %>

  </body>
</html>
