<!DOCTYPE html>
<html>
  <head>
    <title>Declutter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>

<li><%= link_to "マイページ", ""  %></li>
<li><%= link_to "みんなの投稿", root_path  %></li>
<li><%= link_to "ユーザーランキング", users_path  %></li>
<li><%= link_to "declutterとは", "#"  %></li>
<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete  %></li>



</header>


  <body>
    <%= yield %>
  </body>
</html>
